<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.btsoft.jf.cloud.security.mapper.IUserRoleMapper">
	<resultMap id="sqlResultMap" type="org.btsoft.jf.cloud.security.entity.UserRole">
		<result column="app_code" property="appCode" />
		<result column="enable_flag" property="enableFlag" />
		<result column="create_by" property="createBy" />
		<result column="creation_date" property="creationDate" />
		<result column="last_update_by" property="lastUpdateBy" />
		<result column="last_updation_date" property="lastUpdationDate" />

		<result column="user_id" property="userId" />
		<result column="role_id" property="roleId" />
		<result column="begin_date" property="beginDate" />
		<result column="end_date" property="endDate" />
	</resultMap>

	<sql id="base_sql">
		select
		*
		from sys_user_role_rt t
	</sql>

	<sql id="base_condition">
		<trim prefix="where" prefixOverrides="and || or">
			t.app_code=#{appCode,jdbcType=VARCHAR}
			<if test='vo.userId!=null'>
				and t.user_id =#{vo.userId,jdbcType=NUMERIC}
			</if>
			<if test='vo.roleId!=null'>
				and t.role_id =#{vo.roleId,jdbcType=NUMERIC}
			</if>
		</trim>
	</sql>

	<insert id="createUserRoles">
		insert ignore into sys_user_role_rt (
			user_id,
			role_id,
			begin_date,
			end_date,
			app_code,
			create_by,
			last_update_by
			)
		<foreach collection="list" item="item" separator=",">
			values(
			#{item.userId,jdbcType=NUMERIC},
			#{item.roleId,jdbcType=NUMERIC},
			IFNULL(#{item.beginDate,jdbcType=DATE},date(now())),
			IFNULL(#{item.endDate,jdbcType=DATE},date(date_add(now(), interval 6 month))),
			#{item.appCode,jdbcType=VARCHAR},
			#{item.currentUserId,jdbcType=NUMERIC},
			#{item.currentUserId,jdbcType=NUMERIC}
			)
		</foreach>;
	</insert>

	<select id="findPageList" resultMap="sqlResultMap">
		<include refid="base_sql" />
		<include refid="base_condition" />
	</select>

</mapper>