.idea
.idea/
.DS_Store
node_modules/
.project
dist
dist/*
src/config/*.tmp
src/config/env.js
npm-debug.log
/jf-cloud-app/.mvn/wrapper/maven-wrapper.jar
/jf-cloud-app/.mvn/wrapper/maven-wrapper.properties
/jf-cloud-app/mvnw
/jf-cloud-app/mvnw.cmd
/jf-cloud-config-server/.mvn/wrapper/maven-wrapper.jar
/jf-cloud-config-server/.mvn/wrapper/maven-wrapper.properties
/jf-cloud-config-server/mvnw
/jf-cloud-config-server/mvnw.cmd
/jf-cloud-core/.mvn/wrapper/.gitignore
/jf-cloud-eureka-server/.mvn/wrapper/maven-wrapper.jar
/jf-cloud-eureka-server/.mvn/wrapper/maven-wrapper.properties
/jf-cloud-eureka-server/mvnw
/jf-cloud-eureka-server/mvnw.cmd
/jf-cloud-lookup/.mvn/wrapper/maven-wrapper.jar
/jf-cloud-lookup/.mvn/wrapper/maven-wrapper.properties
/jf-cloud-lookup/mvnw
/jf-cloud-lookup/mvnw.cmd
/jf-cloud-role/.mvn/wrapper/maven-wrapper.jar
/jf-cloud-role/.mvn/wrapper/maven-wrapper.properties
/jf-cloud-role/mvnw
/jf-cloud-role/mvnw.cmd
/jf-cloud-user/.mvn/wrapper/maven-wrapper.jar
/jf-cloud-user/.mvn/wrapper/maven-wrapper.properties
/jf-cloud-user/mvnw
/jf-cloud-user/mvnw.cmd
/jf-cloud-zuul/.mvn/wrapper/maven-wrapper.jar
/jf-cloud-zuul/.mvn/wrapper/maven-wrapper.properties
/jf-cloud-zuul/mvnw
/jf-cloud-zuul/mvnw.cmd
