<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.btsoft.jf.cloud.security.mapper.IPermissionMapper">
	<resultMap id="permissionResultMap" type="org.btsoft.jf.cloud.security.entity.Permissioin">
		<result column="app_code" property="appCode"/>
		<result column="enable_flag" property="enableFlag"/>
		<result column="create_by" property="createBy"/>
		<result column="creation_date" property="creationDate"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_updation_date" property="lastUpdationDate"/>

		<result column="permission_id" property="permissionId"/>
		<result column="permission_code" property="permissionCode"/>
		<result column="permission_desc_cn" property="permissionDescCN"/>
		<result column="permission_desc_en" property="permissionDescEN"/>
		<result column="permission_type" property="permissionType"/>
		<result column="permission_source" property="permissionSource"/>
	</resultMap>

	<sql id="base_sql">
		select
			t.permission_id,
			t.permission_code,
			t.permission_desc_cn,
			t.permission_desc_en,
			t.permission_type,
			t.permission_source,
			t.app_code,
			t.enable_flag,
			t.create_by,
			t.creation_date,
			t.last_update_by,
			t.last_updation_date
		from sys_permission_t t
	</sql>

	<sql id="base_condition">
		<trim prefix="where" prefixOverrides="and || or">
		    t.app_code=#{vo.appCode,jdbcType=VARCHAR}
			<if test='vo.enableFlag!=null and vo.enableFlag!=""'>
                and t.enable_flag=#{vo.enableFlag,jdbcType=VARCHAR}
            </if>
            <if test='vo.createBy!=null and vo.createBy!=""'>
                and t.create_by=#{vo.createBy,jdbcType=NUMERIC}
            </if>
            <if test='vo.lastUpdateBy!=null and vo.lastUpdateBy!=""'>
                and t.last_update_by=#{vo.lastUpdateBy,jdbcType=NUMERIC}
            </if>
            <if test='vo.permissionCode!=null and vo.permissionCode!=""'>
                and t.permission_code like concat('%',trim(#{vo.permissionCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.permissionDescCN!=null and vo.permissionDescCN!=""'>
                and t.permission_desc_cn like concat('%',trim(#{vo.permissionDescCN,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.permissionDescEN!=null and vo.permissionDescEN!=""'>
                and t.permission_desc_en like concat('%',trim(#{vo.permissionDescEN,jdbcType=VARCHAR}),'%')
            </if>
		</trim>
	</sql>

	<insert id="createSingle" parameterType="org.btsoft.jf.cloud.security.entity.Permissioin">
	    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="permissionId">
          SELECT LAST_INSERT_ID()
        </selectKey>
		insert into sys_permission_t (
			permission_code,
			permission_desc_cn,
			permission_desc_en,
			permission_type,
			permission_source,
			app_code,
			create_by,
			last_update_by
		)values(
			#{vo.permissionCode,jdbcType=VARCHAR},
			#{vo.permissionDescCN,jdbcType=VARCHAR},
			#{vo.permissionDescEN,jdbcType=VARCHAR},
			#{vo.permissionType,jdbcType=VARCHAR},
			#{vo.permissionSource,jdbcType=VARCHAR},
			#{vo.appCode,jdbcType=VARCHAR},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingle" resultMap="permissionResultMap">
        <include refid="base_sql"/>
        where t.permission_id=#{vo.permissionId,jdbcType=NUMERIC}
    </select>

	<delete id="deleteSingle">
		delete from sys_permission_t where permission_id=#{vo.permissionId,jdbcType=NUMERIC}
	</delete>
	
	<delete id="deleteMultiple">
		delete from sys_permission_t where
		<foreach collection="list" item="item" open=" permission_id in(" separator="," close=")">
			#{item.permissionId,jdbcType=NUMERIC}
		</foreach>
	</delete>

	<update id="updateSingle">
		update sys_permission_t t set
			t.permission_code=#{vo.permissionCode,jdbcType=VARCHAR},
			t.permission_desc_cn=#{vo.permissionDescCN,jdbcType=VARCHAR},
			t.permission_desc_en=#{vo.permissionDescEN,jdbcType=VARCHAR},
			t.permission_type=#{vo.permissionType,jdbcType=VARCHAR},
			t.parent_code=#{vo.parentCode,jdbcType=VARCHAR},
			t.last_update_by=#{vo.currentUserId,jdbcType=NUMERIC},
			t.last_updation_date=now()
		where t.permission_id=#{vo.permissionId,jdbcType=NUMERIC}
	</update>

	<select id="findList" resultMap="permissionResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findPageList" resultMap="permissionResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
		limit #{page.startIndex},#{page.pageSize}
	</select>

	<select id="findCount" resultType="int">
		select count(1) from sys_permission_t t
		<include refid="base_condition"/>
	</select>

</mapper>