<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.btsoft.jf.cloud.config.mapper.IPropertyMapper">
	<resultMap id="sqlResultMap" type="org.btsoft.jf.cloud.config.entity.Property">
		<result column="app_code" property="appCode"/>
		<result column="enable_flag" property="enableFlag"/>
		<result column="create_by" property="createBy"/>
		<result column="creation_date" property="creationDate"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_updation_date" property="lastUpdationDate"/>

		<result column="property_id" property="propertyId"/>
		<result column="property_key" property="propertyKey"/>
		<result column="property_value" property="propertyValue"/>
		<result column="property_type" property="propertyType"/>
		<result column="property_desc" property="propertyDesc"/>
		<result column="attr1" property="attr1"/>
		<result column="attr2" property="attr2"/>
		<result column="attr3" property="attr3"/>
	</resultMap>

	<sql id="base_sql">
		select
			t.property_id,
			t.property_key,
			t.property_value,
			t.property_type,
			t.property_desc,
			t.attr1,
			t.attr2,
			t.attr3,
			t.app_code,
			t.enable_flag,
			t.create_by,
			t.creation_date,
			t.last_update_by,
			t.last_updation_date
		from sys_property_t t
	</sql>

	<sql id="base_condition">
		<trim prefix="where" prefixOverrides="and || or">
		    t.app_code=#{vo.appCode,jdbcType=VARCHAR}
            <if test='vo.propertyKey!=null and vo.propertyKey!=""'>
                and t.property_key like concat('%',trim(#{vo.propertyKey,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.propertyValue!=null and vo.propertyValue!=""'>
                and t.property_value like concat('%',trim(#{vo.propertyValue,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.propertyType!=null and vo.propertyType!=""'>
                and t.property_type=#{vo.propertyType,jdbcType=NUMERIC}
            </if>
		</trim>
	</sql>

	<insert id="createSingle">
		insert into sys_property_t (
			property_key,
			property_value,
			property_type,
			property_desc,
			attr1,
			attr2,
			attr3,
			app_code,
			create_by,
			last_update_by
		)values(
			#{vo.propertyKey,jdbcType=VARCHAR},
			#{vo.propertyValue,jdbcType=VARCHAR},
			#{vo.propertyType,jdbcType=VARCHAR},
			#{vo.propertyDesc,jdbcType=VARCHAR},
			#{vo.attr1,jdbcType=VARCHAR},
			#{vo.attr2,jdbcType=VARCHAR},
			#{vo.attr3,jdbcType=VARCHAR},
			#{vo.appCode,jdbcType=VARCHAR},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingle" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        where t.property_id=#{vo.propertyId,jdbcType=NUMERIC}
    </select>

	<delete id="deleteSingle">
		delete from sys_property_t where property_id=#{vo.propertyId,jdbcType=NUMERIC}
	</delete>
	
	<delete id="deleteMultiple">
		delete from sys_property_t where
		<foreach collection="list" item="item" open=" property_id in(" separator="," close=")">
			#{item.propertyId,jdbcType=NUMERIC}
		</foreach>
	</delete>

	<update id="updateSingle">
		update sys_property_t t set
			t.property_key=#{vo.propertyKey,jdbcType=VARCHAR},
			t.property_value=#{vo.propertyValue,jdbcType=VARCHAR},
			t.property_type=#{vo.propertyType,jdbcType=VARCHAR},
			t.property_desc=#{vo.propertyDesc,jdbcType=VARCHAR},
			t.attr1=#{vo.attr1,jdbcType=VARCHAR},
			t.attr2=#{vo.attr2,jdbcType=VARCHAR},
			t.attr3=#{vo.attr3,jdbcType=VARCHAR},
			t.last_update_by=#{vo.currentUserId,jdbcType=NUMERIC},
			t.last_updation_date=now()
		where t.property_id=#{vo.propertyId,jdbcType=NUMERIC}
	</update>

	<select id="findPageList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

</mapper>