<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.btsoft.jf.cloud.config.mapper.IUserAppMapper">
	<resultMap id="mapperResultMap" type="org.btsoft.jf.cloud.config.entity.UserApp">
		<result column="enable_flag" property="enableFlag"/>
		<result column="create_by" property="createBy"/>
		<result column="creation_date" property="creationDate"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_updation_date" property="lastUpdationDate"/>

		<result column="app_id" property="appId"/>
		<result column="user_id" property="userId"/>
		<result column="id" property="id"/>
	</resultMap>

	<sql id="base_sql">
		select
		    t.id,
			t.app_id,
			t.user_id,
			t.enable_flag,
			t.create_by,
			t.creation_date,
			t.last_update_by,
			t.last_updation_date
		from sys_user_app_rt t
	</sql>

	<sql id="base_condition">
		<trim prefix="where" prefixOverrides="and || or">
            <if test='vo.appId!=null'>
                and t.app_id=#{vo.appId,jdbcType=NUMERIC}
            </if>
             <if test='vo.userId!=null'>
                and t.user_id=#{vo.userId,jdbcType=NUMERIC}
            </if>
		</trim>
	</sql>

	<insert id="createSingle"  parameterType="org.btsoft.jf.cloud.config.entity.UserApp">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
        </selectKey>
		insert into sys_user_app_rt (
			user_id,
			app_id,
			create_by,
			last_update_by
		)values(
			#{vo.userId,jdbcType=NUMERIC},
			#{vo.appId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingle" resultMap="mapperResultMap">
        <include refid="base_sql"/>
        where id=#{vo.id,jdbcType=NUMERIC}
    </select>

	<delete id="deleteSingle">
		delete from sys_user_app_rt where id=#{vo.id,jdbcType=NUMERIC}
	</delete>
	
	<delete id="deleteMultiple">
		delete from sys_user_app_rt where
		<foreach collection="list" item="item" open=" id in(" separator="," close=")">
			#{item.id,jdbcType=NUMERIC}
		</foreach>
	</delete>

	<update id="updateSingle">
		update sys_user_app_rt t set
			t.last_update_by=#{vo.currentUserId,jdbcType=NUMERIC},
			t.last_updation_date=now()
		where t.id=#{vo.id,jdbcType=NUMERIC}
	</update>

	<select id="findPageList" resultMap="mapperResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
		limit #{page.startIndex},#{page.pageSize}
	</select>

	<select id="findCount" resultType="int">
		select count(1) from sys_user_app_rt t
		<include refid="base_condition"/>
	</select>
	
	<select id="findUserAppList" resultType="org.btsoft.jf.cloud.security.entity.App">
		select a.app_id as appId,
		       a.app_code as appCode,
		       a.app_name as appName
		 from sys_user_app_rt ua
		inner join sys_app_info_t a on a.app_id=ua.app_id
		where ua.user_id=#{vo.userId,jdbcType=NUMERIC}
		  and ua.enable_flag='Y'
		  and a.enable_flag='Y'
	</select>

</mapper>