<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.btsoft.jf.cloud.app.mapper.IAppInfoMapper">
	<resultMap id="appInfoResultMap" type="org.btsoft.jf.cloud.app.entity.AppInfo">
		<result column="enable_flag" property="enableFlag"></result>
		<result column="create_by" property="createBy"></result>
		<result column="creation_date" property="creationDate"></result>
		<result column="last_update_by" property="lastUpdateBy"></result>
		<result column="last_updation_date" property="lastUpdationDate"></result>

		<result column="app_id" property="appId"></result>
		<result column="app_code" property="appCode"></result>
		<result column="app_name" property="appName"></result>
		<result column="app_desc" property="appDesc"></result>
		<result column="app_owner" property="appOwner"></result>
	</resultMap>

	<sql id="base_sql">
		select
			t.app_id,
			t.app_code,
			t.app_name,
			t.app_desc,
			t.app_owner,
			t.enable_flag,
			t.create_by,
			t.creation_date,
			t.last_update_by,
			t.last_updation_date
		from sys_app_info_t t
	</sql>

	<sql id="base_condition">
		<trim prefix="where" prefixOverrides="and || or">
			<if test='vo.enableFlag!=null and vo.enableFlag!=""'>
                and t.enable_flag=#{vo.enableFlag,jdbcType=VARCHAR}
            </if>
            <if test='vo.createBy!=null and vo.createBy!=""'>
                and t.create_by=#{vo.createBy,jdbcType=NUMERIC}
            </if>
            <if test='vo.lastUpdateBy!=null and vo.lastUpdateBy!=""'>
                and t.last_update_by=#{vo.lastUpdateBy,jdbcType=NUMERIC}
            </if>
            <if test='vo.appCode!=null and vo.appCode!=""'>
                and t.app_code like concat('%',trim(#{vo.appCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.appName!=null and vo.appName!=""'>
                and t.app_name like concat('%',trim(#{vo.appName,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.appDesc!=null and vo.appDesc!=""'>
                and t.app_desc like concat('%',trim(#{vo.appDesc,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.appOwner!=null and vo.appOwner!=""'>
                and t.app_owner=#{vo.appOwner,jdbcType=NUMERIC}
            </if>
		</trim>
	</sql>

	<insert id="createSingle">
		insert into sys_app_info_t (
			app_code,
			app_name,
			app_desc,
			app_owner,
			create_by,
			last_update_by
		)values(
			#{vo.appCode,jdbcType=VARCHAR},
			#{vo.appName,jdbcType=VARCHAR},
			#{vo.appDesc,jdbcType=VARCHAR},
			#{vo.appOwner,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
		<selectKey keyProperty="appId" resultType="Long"
				   order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>

    <select id="findSingle" resultMap="appInfoResultMap">
        <include refid="base_sql"></include>
        where t.app_id=#{vo.appId,jdbcType=NUMERIC}
    </select>

	<delete id="deleteSingle">
		delete from sys_app_info_t where app_id=#{vo.appId,jdbcType=NUMERIC}
	</delete>

	<update id="updateSingle">
		update sys_app_info_t t set
			t.app_name=#{vo.appName,jdbcType=VARCHAR},
			t.app_desc=#{vo.appDesc,jdbcType=VARCHAR},
			t.app_owner=#{vo.appOwner,jdbcType=NUMERIC},
			t.last_update_by=#{vo.currentUserId,jdbcType=NUMERIC},
			t.last_updation_date=now()
		where t.app_id=#{vo.appId,jdbcType=NUMERIC}
	</update>

	<select id="findList" resultMap="appInfoResultMap">
		<include refid="base_sql"></include>
		<include refid="base_condition"></include>
	</select>

	<select id="findPageList" resultMap="appInfoResultMap">
		<include refid="base_sql"></include>
		<include refid="base_condition"></include>
		limit #{page.startIndex},#{page.pageSize}
	</select>

	<select id="findCount" resultType="int">
		select count(1) from sys_app_info_t t
		<include refid="base_condition"></include>
	</select>
</mapper>